.content{
  min-height: 100vh;
  background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(5,7,12,0.725)),
  url(FondoP1.jpg)  no-repeat center center fixed;
  background-size: cover;
}

h1{
    color: rgb(22, 13, 13);
    padding: 3rem 1rem 1rem 3rem;
}
h3{
  font-family: 'Ancizar sans';
  margin-left: 3rem;
}

.main-text{
  font-family: 'Ancizar sans';
  font-weight: 700;
  font-size: 4.5rem;
} 

.subtitulo-entrauma{
  margin-bottom: 2.2rem;
  font-size: 2rem;
  font-weight: 700;
  color: #474846;
}

.title-image{
    width:28rem;
    display:block;
    margin:auto;
    padding: 1.3rem;
    background-color: rgba(255, 255, 255,0.5);
    border-radius: 2rem;

}

.video-YouTube{
  display:block;
  margin:auto;
  border: 2px solid grey;
  border-radius: 5px;
  overflow: hidden;
  width: 60rem;
}

.texto{
  text-align: center;
  padding:3% 10% 0;
  font-size: 1.4rem;
}
.botonn{
    display:block;
    margin: 1.2rem auto;
    text-align: center;
    padding: 2rem 0;
}

.bot1{
  margin: 1rem 1rem;
  font-size: 1.2rem;
}
.conte{
  padding: 0 2rem;

}

@media only screen and (max-width: 768px) {

 .video-YouTube{
   width: 30rem;
 }
  }